# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Run Sketch'
      'command': 'processing:run'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Processing'
      'submenu': [
        {
          'label': 'Run'
          'command': 'processing:run'
        }
      ]
    ]
  }
]
